@{
    ViewData["Title"] = "Reviews";
}

<h1>Search Results</h1>
<h3>Search Terms: @ViewBag.Destination @ViewBag.Country</h3>

<h3>Reviews:</h3>
<ol>
@foreach (Review review in Model)
{
  <li><strong>@review.ReviewDestination | Rating: @review.ReviewRating </strong>| <a href="/Reviews/Details/@(review.ReviewId)">View Details</a></li>
}
</ol>

<p>@Html.ActionLink("Back to index", "Index")</p>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="GetDestination"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-destination="@ViewBag.Destination"
   asp-route-country="@ViewBag.Country"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="GetDestination"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-destination="@ViewBag.Destination"
   asp-route-country="@ViewBag.Country"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>